@use 'src/app/styles/scss/utils/index.scss' as *;

.main {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @include mq(sp) {
    padding: calcVw(40) calcVw(20);
    gap: calcVw(10);
  }

  .map {
    width: 100%;
    margin: 40px 0 10px;

    @include mq(sp) {
      margin: calcVw(20) 0 0;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mq(sp) {
      gap: calcVw(8);
    }

    p {
      font-size: 18px;

      @include mq(sp){
        font-size: calcVw(16);
      }
    }
  }
}