@use 'src/app/styles/scss/utils/index.scss' as *;

.menu {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include mq(sp) {
    padding: calcVw(20);
    gap: calcVw(30);
    flex-direction: column;
  }

  h2 {
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    padding: 12px 0;
    max-width: 600px;
    width: 100%;
    border-top: 3px double #c0c0c0;
    border-bottom: 3px double #c0c0c0;

    @include mq(sp) {
      width: 50%;
      font-size: calcVw(32);
      padding: calcVw(8) 0;
      border-top: calcVw(3) double #c0c0c0;
      border-bottom: calcVw(3) double #c0c0c0;
    }
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;

    @include mq(sp) {
      gap: calcVw(20);
      flex-direction: column;
    }

    .text {
      max-width: 550px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
  
      @include mq(sp) {
        max-width: none;
        padding-bottom: 0;
        gap: calcVw(30);
      }
  
      .pickup {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        
        @include mq(sp) {
          gap: calcVw(20);
          margin-top: calcVw(30);
        }
  
        h3 {
          width: 100%;
          text-align: center;
          border-bottom: 2px solid #000;
          font-size: 24px;
          padding-bottom: 20px;
          position: relative;
      
          @include mq(sp) {
            border-bottom: calcVw(2) solid #000;
            font-size: calcVw(20);
            padding-bottom: calcVw(15);
          }

          &::before {
            display: flex;
            align-items: center;
            justify-content: center;
            content: 'スタッフが選んだ❗️';
            background-image: url('/global/balloon.svg');
            background-repeat: no-repeat;
            background-position: bottom center;
            width: 300px;
            height: 38px;
            position: absolute;
            top: -38px;
            left: 0;
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 10px;
    
            @include mq(sp) {
              width: calcVw(260);
              height: calcVw(35);
              top: calcVw(-35);
              left: calcVw(-60);
              font-size: calcVw(14);
              padding-bottom: calcVw(8);
            }
          }
        }
    
        .ranking {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          gap: 18px;
          margin: 0 auto;
          width: 100%;
    
          @include mq(sp) {
            justify-content: center;
            gap: calcVw(15);
          }
    
          .merchandise {
            display: flex;
            flex-direction: column;
            gap: 8px;
    
            @include mq(sp) {
              gap: calcVw(8);
            }

            .title {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 10px;
    
              @include mq(sp) {
                gap: calcVw(8);
              }
    
              h4 {
                font-size: 20px;
                font-weight: 600;
                
                @include mq(sp) {
                  font-size: calcVw(16);
                }
              }
    
              div {
                font-size: 18px;
                
                @include mq(sp) {
                  font-size: calcVw(14);
                }
              }
            }
    
            .price {
              display: flex;
              gap: 15px;
              align-self: flex-end;
    
              p {
                font-size: 18px;
                
                @include mq(sp) {
                  font-size: calcVw(14);
                } 
    
                &:last-child {
                  color: red;
                }
              }
            }
          }
        }
      }
  
      .button {
        padding: 12px;
        border: 2.5px solid red;
        color: red;
        max-width: 260px;
        text-align: center;
  
        @include mq(sp) {
          padding: calcVw(8);
          border: calcVw(2) solid red;
        }
  
        span {
          font-size: 20px;
  
          @include mq(sp) {
            font-size: calcVw(16);
          }
        }
      }
    }
  
    .img_wrapper {
      max-width: 580px;
      width: 100%;
      height: 400px;
      position: relative;
      align-self: center;
  
      @include mq(sp) {
        height: calcVw(220);
      }
      
      .img {
        position: absolute;
        width: 100%;
      }
    }
  }
}