@use 'src/app/styles/scss/utils/index.scss' as *;

.menu {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include mq(sp) {
    padding: calcVw(20);
    gap: calcVw(30);
    flex-direction: column;
  }

  h2 {
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    padding: 12px 0;
    max-width: 600px;
    width: 100%;
    border-top: 3px double #c0c0c0;
    border-bottom: 3px double #c0c0c0;

    @include mq(sp) {
      width: 80%;
      font-size: calcVw(40);
      padding: calcVw(12) 0;
      border-top: calcVw(3) double #c0c0c0;
      border-bottom: calcVw(3) double #c0c0c0;
    }
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;

    @include mq(sp) {
      gap: calcVw(30);
      flex-direction: column;
    }

    .text {
      max-width: 550px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
  
      @include mq(sp) {
        max-width: none;
        padding-bottom: 0;
        gap: calcVw(40);
      }
  
      .pickup {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        
        @include mq(sp) {
          gap: calcVw(20);
        }
  
        h3 {
          width: 100%;
          text-align: center;
          border-bottom: 2px solid #000;
          font-size: 24px;
          padding-bottom: 20px;
      
          @include mq(sp) {
            border-bottom: calcVw(2) solid #000;
            font-size: calcVw(22);
            padding-bottom: calcVw(15);
          }
        }
    
        .ranking {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          gap: 18px;
          margin: 0 auto;
          width: 100%;
    
          @include mq(sp) {
            gap: calcVw(20) calcVw(12);
            justify-content: center;
            gap: calcVw(18);
          }
    
          .merchandise {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            @include mq(sp) {
              gap: calcVw(8);
            }
    
            h4 {
              font-size: 20px;
              font-weight: 600;
              
              @include mq(sp) {
                font-size: calcVw(18);
              }
            }
    
            div {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 8px;
    
              @include mq(sp) {
                gap: calcVw(8);
              }

              .title {
                font-size: 18px;
                
                @include mq(sp) {
                  font-size: calcVw(16);
                }
              }
    
              p {
                font-size: 18px;
                
                @include mq(sp) {
                  font-size: calcVw(16);
                } 
              }
      
              .price {
                color: red;
              }
            }
          }
        }
      }
  
      .button {
        padding: 12px;
        border: 2.5px solid red;
        color: red;
        max-width: 260px;
        text-align: center;
  
        @include mq(sp) {
          padding: calcVw(12);
          border: calcVw(2.5) solid red;
        }
  
        span {
          font-size: 20px;
  
          @include mq(sp) {
            font-size: calcVw(18);
          }
        }
      }
  
      .fadein {
        @include mq(sp) {
          animation-name: fadein;
          animation-duration: 3s;
          animation-fill-mode: forwards;
        }
      }
    }
  
    .img_wrapper {
      max-width: 580px;
      width: 100%;
      height: 400px;
      position: relative;
      align-self: center;
  
      @include mq(sp) {
        height: calcVw(220);
      }
      
      .img {
        position: absolute;
        width: 100%;
      }
    }
  }
}