@use 'src/app/styles/scss/utils/index.scss' as *;

.footer {
  padding: 40px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(sp) {
    padding: calcVw(40) calcVw(20) calcVw(20);
  }

  .line {
    width: 80vw;
    border-bottom: 1px solid #d3d3d3;

    @include mq(sp) {
      width: 100vw;
      border-bottom: calcVw(1) solid #d3d3d3;
    }
  }
  .menu {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include mq(sp) {
      margin: calcVw(40) 0;
      gap: calcVw(20);
      justify-content: center;
      flex-wrap: wrap;
    }

    .item {

      &:hover {
        opacity: 0.4;
      }

      span {
        color: #000;
        font-size: 14px;

        @include mq(sp) {
          font-size: calcVw(14);
        }
      }

      &::after {
        content: '/';
        font-size: 14px;
        padding-left:20px;

        @include mq(sp) {
          font-size: calcVw(14);
          padding-left: calcVw(20);
        }
      }

      &:last-child {
        &::after {
          content: '';
        }
      }
    }
  }
  
  .button {
    margin-bottom: 30px;
    padding: 5px 20px;
    border: 2px solid #696969;
    color: #696969;
    font-size: 14px;

    @include mq(sp) {
      margin-bottom: calcVw(30);
      padding: calcVw(5) calcVw(20);
      border: calcVw(2) solid #696969;
      font-size: calcVw(14);
    }
  }

  p {
    color: #000;
    font-size: 10px;

    @include mq(sp) {
      font-size: calcVw(10);
    }
  }
}