@use 'src/app/styles/scss/utils/index.scss' as *;

.sp_only {
  display: none;

  @include mq(sp) {
    display: block;
  }
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 40px 20px;

  @include mq(sp) {
    padding:  0 calcVw(20) calcVw(20);
    gap: calcVw(30);
  }

  h2 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;

    @include mq(sp) {
      font-size: calcVw(24);
    }
  }

  h3 {
    font-size: 22px;
    text-align: center;
    padding: 15px;
    border: 2px solid #111;

    @include mq(sp) {
      font-size: calcVw(20);
      padding: calcVw(10);
      border: calcVw(2) solid #111;
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    @include mq(sp) {
      gap: calcVw(10);
    }

    &::before {
      content: '[New]';
      position: absolute;
      top: -20px;
      left: 130px;
      font-weight: 500;
      color: red;
      font-size: 14px;

      @include mq(sp) {
        top: calcVw(-15);
        left: calcVw(115);
        font-size: calcVw(12);
      }
    }

    p {
      font-size: 18px;
      position: relative;
      padding-left: 10px;

      @include mq(sp) {
        font-size: calcVw(16);
        padding-left: calcVw(8);
      }

      &::before {
        content: '・';
        position: absolute;
        left: -10px;

        @include mq(sp) {
          left: calcVw(-8);
        }
      }
    }
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 15px 40px;
    border: 2px solid red;
    color: red;

    @include mq(sp) {
      gap: calcVw(6);
      padding: calcVw(8) calcVw(12);
      border: calcVw(2) solid #111;
    }

    a {
      font-size: 20px;
      font-weight: 500;
      text-decoration: underline;

      @include mq(sp) {
        font-size: calcVw(16);
      }
    }

    a:hover {
      color: red;
    }

    p {
      font-size: 20px;
      font-weight: 500;

      @include mq(sp) {
        font-size: calcVw(16);
      }
    }

    .telephone_number {
      display: flex;
      gap: 7px;

      @include mq(sp) {
        gap: calcVw(7);
      }
    }
  }
}