@use 'src/app/styles/scss/utils/index.scss' as *;

.news_detail {
  padding: 60px 20px 40px;

  @include mq(sp) {
    padding: calcVw(40) calcVw(20);
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;

    @include mq(sp) {
      gap: calcVw(40);
    }

    .title {
      display: grid;
      width: 100%;
      max-width: 1200px;
      gap: 10px;
      border-bottom: 1px solid #c0c0c0;
      padding: 0 30px 20px;

      @include mq(sp) {
        gap: calcVw(8);
        border-bottom: calcVw(1) solid #c0c0c0;
        padding:  0 calcVw(20) calcVw(20);
      }

      h2 {
        font-size: 26px;
        font-weight: 500;
        justify-self: center;
        
        @include mq(sp) {
          font-size: calcVw(20);
          
        }
      }

      h3 {
        font-size: 18px;
        color: #555;
        font-weight: 300;
        justify-self: flex-end;

        @include mq(sp) {
          font-size: calcVw(12);
        }
      }
    }

    .desc {
      font-size: 18px;
      line-height: 1.5;
      max-width: 1200px;

      @include mq(sp) {
        line-height: 1.4;
        font-size: calcVw(16);
      }

      ul {
        max-width: 300px;
        li {
          display: flex;
          justify-content: space-between;
        }
      }

      a {
        color: red;
        text-decoration: underline;
      }
    }
  }
}