@use 'src/app/styles/scss/utils/index.scss' as *;

.sp_only {
  display: none;

  @include mq(sp) {
    display: block;
  }
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 40px 20px;

  @include mq(sp) {
    padding:  0 calcVw(20) calcVw(20);
    gap: calcVw(30);
  }

  h2 {
    font-size: 42px;
    margin-top: 40px;
    font-weight: 400;
    text-align: center;
    padding: 12px 0;
    max-width: 600px;
    width: 100%;
    text-align: center;
    border-top: 3px double #c0c0c0;
    border-bottom: 3px double #c0c0c0;

    @include mq(sp) {
      width: 85%;
      font-size: calcVw(30);
      padding: calcVw(8) 0;
      border-top: calcVw(3) double #c0c0c0;
      border-bottom: calcVw(3) double #c0c0c0;
    }
  }

  h3 {
    font-size: 22px;
    text-align: center;
    padding: 15px;
    border: 2px solid #111;

    @include mq(sp) {
      font-size: calcVw(20);
      padding: calcVw(10);
      border: calcVw(2) solid #111;
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mq(sp) {
      gap: calcVw(10);
    }

    p {
      font-size: 18px;
      position: relative;
      padding-left: 10px;

      @include mq(sp) {
        font-size: calcVw(16);
        padding-left: calcVw(8);
      }

      &::before {
        content: '・';
        position: absolute;
        left: -10px;

        @include mq(sp) {
          left: calcVw(-8);
        }
      }
    }
  }
}