@use 'src/app/styles/scss/utils/index.scss' as *;

.img_wrapper {
  max-width: 800px;
  width: 100%;
  height: 400px;
  position: relative;
  align-self: center;
  margin-top: 60px;

  @include mq(sp) {
    height: calcVw(200);
    margin-top: calcVw(40);
  }
  
  .img {
    position: absolute;
    width: 100%;
  }
}