@use 'src/app/styles/scss/utils/index.scss' as *;

.sp_only {
  display: none;

  @include mq(sp) {
    display: block;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 80px;

  @include mq(sp) {
    gap: calcVw(30);
    padding: calcVw(40) calcVw(20);
  }

  h3 {
    max-width: 700px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #000;
    font-size: 26px;
    padding-bottom: 15px;

    @include mq(sp) {
      border-bottom: calcVw(2) solid #000;
      font-size: calcVw(24);
      padding-bottom: calcVw(15);
    }
  }

  .merchandises {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;

    @include mq(sp) {
      gap: calcVw(12);
      justify-content: center;
    }

    .merchandise {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;

      @include mq(sp) {
        gap: calcVw(8);
      }

      .title {
        font-size: 18px;
        
        @include mq(sp) {
          font-size: calcVw(14);
        }
      }

      p {
        font-size: 18px;
        
        @include mq(sp) {
          font-size: calcVw(14);
        }
      }

      .price {
        color: red;
      }
    }
  }

  .note {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    @include mq(sp) {
      gap: calcVw(4);
    }

    p {
      font-size: 16px;

      @include mq(sp) {
        font-size: calcVw(12);
      }
    }
  }

  .button {
    padding: 12px;
    border: 2.5px solid red;
    color: red;
    max-width: 260px;
    text-align: center;

    @include mq(sp) {
      padding: calcVw(8);
      border: calcVw(2) solid red;
    }

    span {
      font-size: 20px;

      @include mq(sp) {
        font-size: calcVw(16);
      }
    }
  }
}