@use 'src/app/styles/scss/utils/index.scss' as *;

.sp_only {
  display: none;

  @include mq(sp) {
    display: block;
  }
}

.contact {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  background-color: #f5f5f5;
  width: 100%;

  @include mq(sp) {
    padding: calcVw(40) calcVw(20);
    gap: calcVw(40);
  }

  h2 {
    font-size: 42px;
    font-weight: 400;

    @include mq(sp) {
      font-size: calcVw(36);
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include mq(sp) {
      gap: calcVw(20);
    }

    p {
      font-size: 18px;
      text-align: center;
      line-height: 1.2;

      @include mq(sp) {
        font-size: calcVw(18);
        text-align: left;
      }
    }

    .telephone_number {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      padding: 15px 40px;
      border: 2px solid #111;

      @include mq(sp) {
        gap: calcVw(8);
        padding: calcVw(12) calcVw(18);
        border: calcVw(2) solid #111;
      }

      h4 {
        font-size: 20px;
        font-weight: 500;

        @include mq(sp) {
          font-size: calcVw(20);
        }
      }
    }
  }

  .button {
    padding: 12px;
    border: 2.5px solid red;
    color: red;
    max-width: 260px;
    text-align: center;

    @include mq(sp) {
      padding: calcVw(12);
      border: calcVw(2.5) solid red;
    }

    span {
      font-size: 20px;

      @include mq(sp) {
        font-size: calcVw(18);
      }
    }
  }
}
