@use 'src/app/styles/scss/utils/index.scss' as *;

.sp_only {
  display: none;

  @include mq(sp) {
    display: block;
  }
}

.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  gap: 10px;

  @include mq(sp) {
    padding: calcVw(20) 0 ;
    gap: calcVw(10);
  }

  h2 {
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    padding: 12px 0;
    max-width: 600px;
    width: 100%;
    text-align: center;
    border-top: 3px double #c0c0c0;
    border-bottom: 3px double #c0c0c0;

    @include mq(sp) {
      width: 50%;
      font-size: calcVw(32);
      padding: calcVw(8) 0;
      border-top: calcVw(3) double #c0c0c0;
      border-bottom: calcVw(3) double #c0c0c0;
    }
  }

  .map {
    margin: 40px 0 0;
    width: 100%;

    @include mq(sp) {
      margin: calcVw(20) 0 0 ;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mq(sp) {
      gap: calcVw(6);
    }

    p {
      font-size: 18px;
      position: relative;
      padding-left: 26px;

      @include mq(sp){
        font-size: calcVw(14);
        padding-left: calcVw(20);
      }

      &::before {
        content: '住所 :';
        position: absolute;
        left: -26px;

        @include mq(sp) {
          left: calcVw(-20);
        }
      }
    }
  }

  .img_wrapper {
    width: 100%;
    height: 800px;
    position: relative;
    align-self: center;
    margin-top: -20px;

    @include mq(sp) {
      height: calcVw(600);
      margin-top: calcVw(-40);
    }
    
    .img {
      position: absolute;
      width: 100%;
    }
  }

  .button {
    padding: 12px;
    border: 2.5px solid red;
    color: red;
    max-width: 260px;
    text-align: center;
    margin-top: -100px;

    @include mq(sp) {
      padding: calcVw(8);
      border: calcVw(2) solid red;
      margin-top: calcVw(-100);
    }

    span {
      font-size: 20px;

      @include mq(sp) {
        font-size: calcVw(16);
      }
    }
  }
}