@use 'src/app/styles/scss/utils/index.scss' as *;

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;

  @include mq(sp) {
    padding-top: calcVw(70);
  }
}