@use 'src/app/styles/scss/utils/index.scss' as *;

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;

  @include mq(tablet) {
    padding-top: 70px;
  }

  @include mq(sp) {
    padding-top: calcVw(65);
  }
}