@use 'src/app/styles/scss/utils/index.scss' as *;

.mv {
  width: 100%;
  position: relative;

  .sp_only {
    display: none;
  
    @include mq(sp) {
      display: block;
    }
  }

  .img_box{
    width: 100%;
    height: 46vw;
    overflow: hidden;
    position: relative;

    @include mq(sp) {
      height: 100vw;
    }

    h2 {
      font-size: 40px;
      font-weight: 500;
      line-height: 1.2;
      color: #fff;
      // width: 80%;
      text-wrap: nowrap;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 15;

      @include mq(sp) {
        font-size: calcVw(30);
      }
    }

    div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 46vw;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; 
      z-index: 10;
      opacity: 0;
      animation-name: fade;
      animation-duration: 15s;
      animation-iteration-count: infinite;

      @include mq(sp) {
        height: 100vw;
      }

      &:nth-child(2){
        background-image: url("/top/mv/bg_1.jpg");
      }
      
      &:nth-child(3){
        background-image: url("/top/mv/bg_2.jpg");
        animation-delay: 5s;
      }
      
      &:last-child{
        background-image: url("/top/mv/bg_3.jpg");
        animation-delay: 10s;
      }
    }
  }
}