@use 'src/app/styles/scss/utils/index.scss' as *;

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 80px 20px 40px;

  @include mq(sp) {
    padding: calcVw(40) calcVw(20) calcVw(20);
  }

  h2 {
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    padding: 12px 0;
    max-width: 600px;
    width: 100%;
    text-align: center;
    border-top: 3px double #c0c0c0;
    border-bottom: 3px double #c0c0c0;

    @include mq(sp) {
      font-size: calcVw(40);
      padding: calcVw(12) 0;
      border-top: calcVw(3) double #c0c0c0;
      border-bottom: calcVw(3) double #c0c0c0;
    }
  }
  .container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include mq(sp) {
      max-width: none;
    }

    h1 {
      font-size: 40px;
      padding-bottom: 20px;
      font-weight: 400;

      @include mq(sp) {
        font-size: calcVw(32);
        padding-bottom: calcVw(10);
        text-align: center;
      }
    }

    .desc {
      font-size: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-bottom: 15px;

      @include mq(sp) {
        font-size: calcVw(16);
        gap: calcVw(8);
      }

      p {
        &:first-child {
          position: relative;
          padding-left: 30px;

          @include mq(sp) {
            padding-left: calcVw(30);
          }

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 28px;
            height: 16px;
            background-color: #fa8072;
            border: 1px solid #111;

            @include mq(sp) {
              width: calcVw(28);
              height: calcVw(16);
              border: calcVw(1) solid #111;
            }
          }
        }
      }

      .business_hours {
        display: flex;
        gap: 20px;

        h4 {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;

          @include mq(sp) {
            font-size: calcVw(16);
          }
        }
      }
    }

    .button {
      display: inline;
      align-self: center;
      text-align: center;
      padding: 12px;
      margin-top: 20px;
      border: 2.5px solid red;

      @include mq(sp) {
        padding: calcVw(12);
        margin-top: calcVw(20);
        border: calcVw(2.5) solid red;
      }

      span {
        font-size: 20px;
        color: red;

        @include mq(sp) {
          font-size: calcVw(18);
        }
      }
    }
  }
}




