@use 'src/app/styles/scss/utils/index.scss' as *;

.sp_only {
  display: none;

  @include mq(sp) {
    display: block;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 20px;
  @include mq(sp) {
    gap: calcVw(30);
    padding: calcVw(40) calcVw(20);
  }

  h3 {
    max-width: 700px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #000;
    font-size: 26px;
    padding-bottom: 20px;
    margin: 0 auto 30px;

    @include mq(sp) {
      border-bottom: calcVw(2) solid #000;
      font-size: calcVw(24);
      padding-bottom: calcVw(12);
      margin: 0 auto calcVw(20);
    }
  }

  .download {
    a {
      text-decoration: underline;
      font-size: 16px;
      color: red;

      @include mq(sp) {
        font-size: calcVw(14);
      }
    }
  }

  .note {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px 25px;
    border: 1.5px solid #111;

    @include mq(sp) {
      padding: calcVw(10) calcVw(15);
      border: calcVw(1) solid #111;
      gap: calcVw(10);
    }

    p {
      font-size: 16px;
      position: relative;
      padding-left: 10px;

      @include mq(sp) {
        font-size: calcVw(14);
        padding-left: calcVw(8);
      }

      &::before {
        content: '・';
        position: absolute;
        left: -10px;

        
        @include mq(sp) {
          left: calcVw(-8);
        }
      }
    }
  }

  .category_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .categories {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      @include mq(sp) {
        gap: calcVw(8);
        justify-content: center;
      }

      .category {
        display: flex;
        align-items: center;
        gap: 40px;
        border: #999 solid 1px;
        width: 300px;
        padding: 10px;
        position: relative;

        @include mq(sp) {
          gap: calcVw(20);
          width: calcVw(300);
          padding: calcVw(8);
          border: #999 solid calcVw(1);
        }

        &::before {
          content: '';
          background-image: url('/global/arrow_right.svg');
          background-repeat: no-repeat;
          background-position: center center;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);

          @include mq(sp) {
            width: calcVw(28);
            height: calcVw(28);
          }
        }

        h4 {
          font-size: 18px;

          @include mq(sp) {
            font-size: calcVw(16);
            text-align: center;
          }
        }
      }
    }
  }

  .all {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include mq(sp) {
      gap: 0;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      @include mq(sp) {
        gap: calcVw(20);
      }

      .category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        max-width: 525px;
        width: 100%;
  
        @include mq(sp) {
          gap: calcVw(12);
          justify-content: center;
        }
  
        h4 {
          text-align: center;
          font-size: 20px;
          padding: 8px;
          border: 1px solid #111;
  
          @include mq(sp) {
            font-size: calcVw(16);
            padding: calcVw(6);
            border: calcVw(1) solid #111;
          }
        }
  
        .merchandise {
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          .title {
            font-size: 18px;
            position: relative;
            padding-left: 10px;;
            
            @include mq(sp) {
              font-size: calcVw(14);
              padding-left: calcVw(8);
            }

            &::before {
              content: '・';
              position: absolute;
              left: -10px;
      
              @include mq(sp) {
                left: calcVw(-8);
              }
            }
          }

          .pickup {
            position: relative;
            padding-bottom: 20px;

            @include mq(sp) {
              padding-bottom: calcVw(16);
            }

            &::after {
              content: '↑オススメ';
              font-size: 20px;
              color: red;
              font-weight: 500;
              position: absolute;
              top: 50px;
              left: 20px;
              transform: translateY(-50%);

              @include mq(sp) {
                top: calcVw(40);
                left: calcVw(16);
                font-size: calcVw(16);
              }
            }
          }

          .tare_title {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.5;

            @include mq(sp) {
              font-size: calcVw(14);
            }
          }

          .none_decoration {
            text-decoration: none;
          }
  
          p {
            font-size: 18px;
            
            @include mq(sp) {
              font-size: calcVw(14);
            }

          }
  
          .price {
            color: red;
          }
        }
      }
    }

    
  }
}